body {
    background-color: #E6EFFF;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #11203d;
    
}
.retangulo {
    width: 100%;
    height: 45px;
    background-color: #3157A4;
    color: white
}
.posicao {
    position: absolute;
    left: 75%;
    bottom: 95%;
}
.corletra {
    margin-left: 150px;
}
.outracor {
    color: #7f57d3;
    font-weight: 600
}
.tamanho {
    font-size: 21px;
}

.centralizar{width: 100%;
display: flex;
justify-content: center}

.novoretangulo {
    width: 80%;
    height: 60px;
    background-color: white;
    border-radius: 30px;
}
.afastar {
    margin-left: 50px;
    padding-top: 10px;
}
.container {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    color: #936ce7;
    font-weight: 600;
    font-size: 35px;
}
.posicaoazul {
    padding-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    color: #3157A4;
    font-weight: 600;
    font-size: 45px;
    padding-left: 10%;
}
.posicaoimg {
    display: flex;
    padding-left: 60%;
    padding-top: 0%;
}
.distancia1 {
    margin-left: 300px;
}
.alinhamento {
    display: flex;
    align-items: center;
    gap: 20px;
}
#curriculobut {
    background-color: #3157A4;
    color: white;
    width: 340px;
    height: 54px;
    border-radius: 10px;
    font-size: 21px;
    font-family: "Poppins", sans-serif;
}
.afastarbutazul {
    padding-left: 12%;
}